form(id="form-login", action="/login", method="post", class="form-signin")
	input(id="login-emailaddress", type="text", placeholder="Email Address")
	input(id="login-password", type="password", placeholder="Password")
	input(id="login-submit", type="submit", value="Submit")
	a(href="") Sign Up
	span |
	a(href="") Forgot Password