doctype 5
html(lang='en')
	head
		title= title
		link(rel='stylesheet', href='/lib/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/custom.css')
	body
		div(class="container")
		block content
	script(src='/lib/js/jquery-2.0.3.min.js')
	script(src='/lib/js/bootstrap.min.js')